{% extends "../base.html" %}

{% block title %}Django app - Developer{% endblock %}

{% block content %} 

<form action="" method="POST" class="container">
    {% csrf_token %}
    <h3 class="display-6 text-center text-success">Create developer</h3>
    <div class="card shadow my-3 p-3">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-12 col-lg col-sm-12 col-xs-12 my-2">
                    <div class="form-group">
                        <label for="text" class="mb-2">First Name *</label>
                        <input type="text" class="shadow form-control" name="first_name" placeholder="The developer's first name">
                    </div>
                </div>
                <div class="col-12 col-lg col-sm-12 col-xs-12 my-2">
                    <div class="form-group">
                        <label for="text" class="mb-2">Last Name *</label>
                        <input type="text" class="shadow form-control" name="last_name" placeholder="The developer's last name">
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-lg col-sm-12 col-xs-12 my-2">
                    <div class="form-group">
                        <label for="text" class="mb-2">Phone Number *</label>
                        <input type="text" class="shadow form-control" maxlength="10" name="phone_number" placeholder="The developer's phone number">
                    </div>
                </div>
                <div class="col-12 col-lg col-sm-12 col-xs-12 my-2">
                    <div class="form-group">
                        <label for="text" class="mb-2">Developer Job Title*</label>
                        <input type="text" class="shadow form-control" name="title" placeholder="The developer's job title">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="shadow btn btn-success mt-4 w-25 shadow" type="submit">Validate</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}