{% extends "../base.html" %}

{% block title %}Django app - Home page{% endblock %}

{% block content %} 

<form action="" method="POST" class="container">
    {% csrf_token %}
    <h3 class="display-6 text-center text-white">Registration</h3>
    <div class="card shadow my-3 p-5">
        <h2 class="text-success text-center display-6 my-3">Choose your profile type</h2>
        <div class="card-body">
            <div class="row no-gutters d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <a href="company" class="btn btn-success lead p-4">I'm a company !</a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="developer" class="btn btn-success lead p-4">I'm a developer !</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}