{% extends "./base.html" %}

{% block title %}Django app - Home page{% endblock %}

{% block content %}

<div class="container-fluid row mt-4 mb-5">
  <h2 class="text-success {% if user.is_authenticated == False %} anonymous-margin {% endif %}">Jobs</h2>
  {% for job in jobs %}
    {% if forloop.counter <= 3 %}
      <div class="card shadow col-lg mx-1 col-md-3 col-sm-10 col-10" style="border-radius: 12px">
          <div class="card-body p-2 my-4">
              <div>
                  <h2>{{ job.title }}</h1>
                  <h4>{{ job.company }}</h4>
                  <p class="lead mt-2">{{ job.description|truncatechars:150 }}<p>
              </div>
              <a href="/job/{{ job.id }}/" class="btn btn-success" style="min-width: 150px;">View more</a>
          </div>
      </div>
    {%endif%}
  {% endfor %}
<a href="/jobs" class="text-success mt-3">Check all the jobs</a>
</div>

<div class="container-fluid row my-5">
  <h2 class="text-success">Developers</h2>
  {% for dev in devs %}
    {% if forloop.counter <= 3 %}
      <div class="card shadow col-lg mx-1 col-md-3 col-sm-10 col-10" style="border-radius: 12px">
          <div class="card-body p-2 my-4">
              <div>
                  <h2>{{ dev }}</h1>
                  <h4>{{ dev.title }}</h4>
                  <p class="lead mt-2">{{ job.description }}<p>
              </div>
              <a href="/dev/{{ dev.id }}/" class="btn btn-success" style="min-width: 150px;">View more</a>
          </div>
      </div>
    {%endif%}
  {% endfor %}
  <a href="/devs" class="text-success mt-3">Check all the developers</a>
</div>

<div class="container-fluid row no-gutters my-5">
  <h2 class="text-success">Companies</h2>
  {% for company in companies %}
    {% if forloop.counter <= 3 %}
        <div class="card shadow col-lg mx-1 col-md-3 col-sm-10 col-10" style="border-radius: 12px">
            <div class="card-body p-2 my-4">
                <div>
                    <h2>{{ company }}</h1>
                    <h4>{{ company.siren }}</h4>
                    <p class="lead mt-2">{{ company.address }}<p>
                </div>
                <a href="/dev/{{ dev.id }}/" class="btn btn-success" style="min-width: 150px;">View more</a>
            </div>
        </div>
      {%endif%}
  {% endfor %}
  <a href="/companies" class="text-success mt-3">Check all the companies</a>
</div>

{% endblock %}